MDT.DataProducer.ServiceImplement/Service References/TraceLogCenter/TraceLogCenter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TraceLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCount" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stage" type="tns:TraceStage" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:TraceStatus" />
      <xs:element minOccurs="0" name="SubTaskId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceLogInfo" nillable="true" type="tns:TraceLogInfo" />
  <xs:simpleType name="TraceStage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DataProducer" />
      <xs:enumeration value="DataConsumer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TraceStage" nillable="true" type="tns:TraceStage" />
  <xs:simpleType name="TraceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Handle" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TraceStatus" nillable="true" type="tns:TraceStatus" />
</xs:schema>