MDT.DataProducer.ServiceImplement/Service References/TraceLogCenter/TraceLogCenter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33369/TraceLogCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" />
  <xs:element name="Write">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" minOccurs="0" name="traceInfo" nillable="true" type="q1:TraceLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" minOccurs="0" name="ReadResult" nillable="true" type="q2:TraceLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>