MDT.DataConsumer.ServiceImplement/Service References/TraceLogCenter/TraceLogCenterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraceLogCenterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6668/TraceLogCenter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6668/TraceLogCenter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6668/TraceLogCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraceLogCenterService_Write_InputMessage">
    <wsdl:part name="parameters" element="tns:Write" />
  </wsdl:message>
  <wsdl:message name="ITraceLogCenterService_Write_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteResponse" />
  </wsdl:message>
  <wsdl:message name="ITraceLogCenterService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ITraceLogCenterService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraceLogCenterService">
    <wsdl:operation name="Write">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraceLogCenterService/Write" message="tns:ITraceLogCenterService_Write_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraceLogCenterService/WriteResponse" message="tns:ITraceLogCenterService_Write_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraceLogCenterService/Read" message="tns:ITraceLogCenterService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraceLogCenterService/ReadResponse" message="tns:ITraceLogCenterService_Read_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraceLogCenterService" type="tns:ITraceLogCenterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Write">
      <soap:operation soapAction="http://tempuri.org/ITraceLogCenterService/Write" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ITraceLogCenterService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraceLogCenterService">
    <wsdl:port name="BasicHttpBinding_ITraceLogCenterService" binding="tns:BasicHttpBinding_ITraceLogCenterService">
      <soap:address location="http://localhost:6668/TraceLogCenter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>