MDT.DataProducer.ServiceImplement/Service References/DataConsumer/DataConsumerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataConsumerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:33363/DataConsumer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:33363/DataConsumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataConsumerService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IDataConsumerService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IDataConsumerService_ReSend_InputMessage">
    <wsdl:part name="parameters" element="tns:ReSend" />
  </wsdl:message>
  <wsdl:message name="IDataConsumerService_ReSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReSendResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataConsumerService">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataConsumerService/Send" message="tns:IDataConsumerService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataConsumerService/SendResponse" message="tns:IDataConsumerService_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReSend">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataConsumerService/ReSend" message="tns:IDataConsumerService_ReSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataConsumerService/ReSendResponse" message="tns:IDataConsumerService_ReSend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataConsumerService" type="tns:IDataConsumerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/IDataConsumerService/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSend">
      <soap:operation soapAction="http://tempuri.org/IDataConsumerService/ReSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataConsumerService">
    <wsdl:port name="BasicHttpBinding_IDataConsumerService" binding="tns:BasicHttpBinding_IDataConsumerService">
      <soap:address location="http://localhost:33363/DataConsumer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>