MDT.DataProducer.ServiceImplement/Service References/DataProducerCenter/DataProducerCenter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6668/DataProducerCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" />
  <xs:element name="GetSourceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" minOccurs="0" name="GetSourceInfoResult" nillable="true" type="q1:Source" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" minOccurs="0" name="GetTableInfoResult" nillable="true" type="q2:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSchemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXSLT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXSLTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXSLTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDT.ManageCenter.DataContract" minOccurs="0" name="GetTasksResult" nillable="true" type="q3:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>